<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <script src="./vue/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- 新 Bootstrap 核心 CSS 文件 -->

    <link href="./asserts/css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--   <link href="asserts/css/bootstrap.min.css" rel="stylesheet" type="text/css">
       <link href="asserts/css/dashboard.css" rel="stylesheet" type="text/css">-->
    <title>ktvmanagement</title>


</head>
<body>
<div id="app">
    <div>
        <main>


            <form class="form-inline" style="float:none;" v-if="showed">
                <h2 align="center">公告管理</h2>
                <p style="margin: 5px 5px 5px "></p>
                <table>
                    <tr>
                        <td>
                            <input class="btn btn-sm btn-success" type="button" v-on:click="add()" value="新增"/>
                        </td>

                    </tr>
                    <input class="btn btn-sm btn-info" style="float: right" type="button" v-on:click="find()"
                           value="查询公告"/>
                    <input style="float: right" type="text" v-model="top">

                </table>

            </form>

            <div class="jumbotron" v-if="infocheck">
                <h1 align="center">公告栏</h1>
                <p align="center" style="font-size:20px">{{information.info}}</p>
                <p><a class="btn btn-primary btn-lg" role="button" v-on:click="infoed()">返回</a></p>
                <p><a class="btn btn-primary btn-lg" role="button" v-on:click="edit()">修改</a></p>
            </div>
            <div class="gitment-editor-body" v-if="editturn">
                <div style="text-align:center;vertical-align:middle;"><textarea cols="130" placeholder="你想说些什么"
                                                                                rows="25"
                                                                                v-model="information.info"></textarea>
                </div>
                <center><a class="btn btn-primary btn-lg" type="button"
                           v-on:click="upinfo(information.id,information.info)">确定修改</a></center>
                <!-- <div class="gitment-editor-preview-field gitment-hidden">
                     <div class="gitment-editor-preview gitment-markdown"></div>
                 </div>
                <form>
                    <input type="text"  style="width:1200px; height:600px;"  v-model="information.info">
                    <a class="btn btn-primary btn-lg"  type="button"  v-on:click="upinfo(information.id,information.info)">确定修改</a>
                </form>-->
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm" v-if="addfig">
                    <thead>
                    <tr>
                        <th>公告题目</th>
                        <th>公告权限</th>
                        <th>公告种类</th>
                        <th>公告日期</th>
                        <th>添加/取消</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" v-model="notice.topic"></td>
                        <td><input type="text" v-model="notice.power"></td>
                        <td><input type="text" v-model="notice.category"></td>
                        <td><input type="text" v-model="notice.date"></td>
                        <td>
                            <input class="btn btn-sm btn-primary" type="button" v-on:click="save()" value="添加"/>
                            <input class="btn btn-sm btn-danger" type="button" v-on:click="saved()" value="取消"/>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <table class="table table-striped table-sm" style="width: 100%" v-if="update">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>公告题目</th>
                        <th>公告权限</th>
                        <th>公告种类</th>
                        <th>公告日期</th>
                        <th>确定/取消</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{notice.id}}</td>
                        <td><input type="text" v-model="notice.topic"></td>
                        <td><input type="text" v-model="notice.power"></td>
                        <td><input type="text" v-model="notice.category"></td>
                        <td><input type="text" v-model="notice.date"></td>
                        <td>
                            <input class="btn btn-sm btn-primary" type="button" v-on:click="NoticeUpdate()" value="确定"/>
                            <input class="btn btn-sm btn-danger" type="button" v-on:click="updated()" value="取消"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-sm" v-if="showed">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>公告题目</th>
                        <th>公告权限</th>
                        <th>公告种类</th>
                        <th>公告日期</th>
                        <th>详情/编辑/删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="notices in datalist">
                        <td>{{notices.notice.id}}</td>
                        <td>{{notices.notice.topic}}</td>
                        <td>{{notices.notice.power}}</td>
                        <td>{{notices.notice.category}}</td>
                        <td>{{notices.datestr}}</td>

                        <td>
                            <button class="btn btn-sm btn-danger" v-on:click="info(notices.notice.id)">详情</button>
                            <button class="btn btn-sm btn-primary" v-on:click="updatev(notices.notice.id)">修改</button>
                            <button class="btn btn-sm btn-danger" v-on:click="NoticeDel(notices.notice.id)">删除</button>

                        </td>
                    </tr>
                    </tbody>
                </table>


                <!--<table class="table table-striped table-sm" v-if="infocheck">
                    <thead>
                    <tr>
                        <th>公告栏</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                        <td>{{information.info}}</td>
                        <td>
                            <input type="text" v-model="information.info">

                        </td>
                    </tr>


                    <tr>
                        <td>
                            <input class="btn btn-sm btn-primary" type="button" v-on:click="upinfo(information.id,information.info)" value="修改"/>
                        <input class="btn btn-sm btn-danger" type="button" v-on:click="infoed()" value="返回"/>
                        </td>
                    </tr>
                    </tbody>
                </table>-->


            </div>

        </main>
    </div>
</div>


<br/>
<script>

    new Vue({
        el: "#app",
        data: {
            addfig: false,
            update: false,
            infocheck: false,
            showed: true,
            editturn: false,
            datalist: {},
            notice: {},
            information: {},
            findshowed: false,
            top: ""

        },
        created() {
            this.getAll();
        },
        methods: {

            getAll() {

                axios.get("http://localhost:8088/notice/all").then(rel => {

                    this.datalist = rel.data;
                });
            },
            add() {

                this.addfig = true;
            },
            saved() {
                this.addfig = false;
            },
            updatev(id) {

                axios.get("http://localhost:8088/notice/" + id, this.notice).then(rel => {

                    this.notice = rel.data;


                });

                this.update = true;
            },
            updated() {
                this.update = false;
            },
            NoticeDel(id) {
                axios.delete("http://localhost:8088/notice/" + id).then(rel => {
                    if (rel.data) {
                        this.getAll();
                    }
                });
            },
            NoticeUpdate() {
                axios.put("http://localhost:8088/notice/update", this.notice).then(rel => {
                    // console.log(rel);
                    if (rel.data) {
                        this.getAll();
                        this.update = false;
                    }

                });
            },
            save() {
                axios.post("http://localhost:8088/notice/management", this.notice)
                    .then(rel => {
                        if (rel.data) {
                            alert("add successfully!");
                            this.saved();
                            this.getAll();
                        } else {
                            alert("add failed");
                        }

                    })
            },
            info(id) {
                axios.get("http://localhost:8088/notice/info?id=" + id).then(rel => {
                    /* console.log(rel.data);*/
                    // console.log(rel);
                    this.information = rel.data;


                });
                this.infocheck = true;
                this.showed = false;
            },
            infoed() {
                this.infocheck = false;
                this.showed = true;
            },
            upinfo(id, inf) {
                axios.get("http://localhost:8088/notice/upinfo?id=" + id + "&inf=" + inf).then(rel => {
                    /* console.log(rel.data);*/
                    // console.log(rel);
                    if (rel.data) {
                        alert("audit successfully!");
                        this.infocheck = false;
                        this.showed = true;
                        this.editturn = false;
                        /* this.saved();
                         this.getAll();*/
                    } else {
                        alert("audit failed");
                    }


                });
            },
            find() {
                axios.get("http://localhost:8088/notice/find?topic=" + this.top).then(res => {
                    this.datalist = res.data;
                });
            },
            edit() {
                this.infocheck = false;
                this.editturn = true;
            }
        }

    });
</script>


<script src="assets/js/jquery-3.2.1.slim.min.js" type="text/javascript"></script>
<script src="assets/js/popper.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>


<script src="assets/js/feather.min.js" type="text/javascript"></script>
<script>
    feather.replace()
</script>


</body>
</html>
