<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>massage</title>
    <link href="./ace/css/ace.min.css" rel="stylesheet"/>
    <link href="./font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="./bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="./jquery-3.5.1/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="./vue/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <style>
        /* #msgs{
         width: 200px;
         height: 300px;
         border:none;
         position: absolute;
         top: 300px;
         left: 0px;*/

        /*  1px solid palegoldenrod*/

    </style>
</head>

<body>
<div id="app">
    <div id="msgs" v-if="msgsfig">
        <!--<ul>
            <li v-for="ms in msgs">
                消息队列<a href="#">{{ms.msgsId}}-&#45;&#45;{{ms.msgsCont}}</a>
                <a href="#" id="yd" @click="msgtu(ms.msgsId)">标为已读</a>
            </li>
        </ul>-->
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>消息编号</th>
                <th>消息内容</th>
                <th>订购人</th>
                <th>订购房间</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="ms in msgs">

                <td>{{ms.msgsId}}</td>
                <td>{{ms.msgsCont}}</td>
                <td>{{ms.reserverName}}</td>
                <td>{{ms.reserveRoom}}</td>

                <td>
                    <button class="btn btn-sm btn-primary" v-on:click="msgtu(ms.msgsId)">标为已读</button>
                </td>
            </tr>

            <!-- <td></td>
             <td>
                 <button @click="upt()" class="btn btn-sm btn-primary">上一页</button>
             </td>
             <td>
                 <button @click="next()" class="btn btn-sm btn-primary">下一页</button>
             </td>
             <td></td>
             <td></td>-->


            </tbody>
        </table>
    </div>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            msgsfig: false,
            msgs: [],
            tiem: null,
            checkvalue: 0
        },

        created() {

            setInterval(this.getAll, 1000);
        },
        methods: {
            msgtu(msgsId) {

                axios.put("http://localhost:8088/admin/putmsg?msgid=" + msgsId).then(rel => {
                    // console.log(rel.data);
                    if (rel.data) {
                        this.getAll();
                    } else {
                        alert("失败");
                    }
                })
            },
            /* test(){
                 var a=0;
                 this.tiem=setInterval(function (){
                     a++;

                       var iamgs= document.getElementById("imgs");
                      if(a===1){
                          iamgs.src="../image/test.png";
                      }else if(a===2){
                          iamgs.src="";
                      }else{
                          iamgs.src="../image/test.png";
                          a=0;
                      }
                 },500);
             },*/
            getAll() {
                axios.get("http://localhost:8088/admin/msg").then(res => {
                    if (res.data.length > 0) {
                        this.msgs = res.data;
                        this.msgsfig = true;
                        // this.test();
                    } else {
                        this.msgsfig = false;
                        clearInterval(this.tiem);
                    }
                });

            }

        }
    });
</script>
</body>
</html>