<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<script src="./vue/vue.js"></script>
	<script src="./js/axios.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="asserts/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="asserts/css/dashboard.css">
	<title>ktvmanagement</title>


</head>
<body>
<div id="app">
	<div>
		<main>
			<form class="form-inline" style="float: left;">
				<h2>员工管理</h2>
				<p style="margin: 5px 5px 5px 50px;"></p>
				<table>
					<tr>
						<td>
							<input class="btn btn-sm btn-success" type="button" v-on:click="savev()" value="新增"/>
							<input class="btn btn-sm btn-info" type="button" v-on:click="tofind()" value="查询"/>
						</td>
					</tr>
				</table>
			</form>

			<div class="table-responsive">
				<table class="table table-striped table-sm"  v-if="addfig">
					<thead>
						<tr>
							<th>员工姓名</th>
							<th>密码</th>
							<th>权限</th>
							<th>添加/取消</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" v-model="manager.userName"></td>
							<td><input type="password" v-model="manager.password"></td>
							<td><input type="permission" v-model="manager.permission"></td>
							<td>
								<input class="btn btn-sm btn-primary" type="button" v-on:click="save()" value="添加"/>
								<input class="btn btn-sm btn-danger" type="button" v-on:click="saved()" value="取消"/>
							</td>
						</tr>
					</tbody>
				</table>


				<table class="table table-striped table-sm" style="width: 100%" v-if="findfig">
					<thead>
					<tr>
						<th>输入你要查询的员工姓名</th>
						<th>确定</th>
						<th>取消</th>
						<th>返回</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td><input type="text" v-model="name"></td>
						<td>
							<input class="btn btn-sm btn-primary" type="button" v-on:click="yesfind()" value="确定"/>
						</td>
						<td>
							<input class="btn btn-sm btn-danger" type="button" v-on:click="nofind()" value="取消"/>
						</td>
						<td>
							<input class="btn btn-sm btn-primary" type="button" v-on:click="findBack()" value="返回"/>
						</td>
					</tr>
					</tbody>
				</table>


				<table class="table table-striped table-sm" style="width: 100%" v-if="update">
					<thead>
					<tr>
						<th>ID</th>
						<th>员工姓名</th>
						<th>密码</th>
						<th>权限</th>
						<th>确定/取消</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{manager.id}}</td>
						<td><input type="text" v-model="manager.userName"></td>
						<td><input type="password" v-model="manager.password"></td>
						<td><input type="permission" v-model="manager.permission"></td>
						<td>
							<input class="btn btn-sm btn-primary" type="button" v-on:click="ManagerUpdate()"
								   value="确定"/>
							<input class="btn btn-sm btn-danger" type="button" v-on:click="updated()" value="取消"/>
						</td>
					</tr>
					</tbody>
				</table>

				<table class="table table-striped table-sm">
					<thead>
					<tr>
						<th>ID</th>
						<th>员工姓名</th>
						<th>密码</th>
						<th>权限</th>
						<th>编辑/删除</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="manager in datalist">
						<td>{{manager.id}}</td>
						<td>{{manager.userName}}</td>
						<td>{{manager.password}}</td>
						<td>{{manager.permission}}</td>

						<td>
							<button class="btn btn-sm btn-primary" v-on:click="updatev(manager.id)">修改</button>
							<button class="btn btn-sm btn-danger" v-on:click="ManagerDel(manager.id)">删除</button>
						</td>
					</tr>

					<td></td>
					<td>
						<button @click="upt()" class="btn btn-sm btn-primary">上一页</button>
					</td>
					<td>
						<button @click="next()" class="btn btn-sm btn-primary">下一页</button>
					</td>
					<td></td>
					<td></td>


					</tr>
					</tbody>
				</table>


			</div>
		</main>
	</div>
</div>


<br/>
<script>
	new Vue({
		el: "#app",
		data: {
			findfig: false,
			addfig: false,
			update: false,
			currented: 0,
			total: 1,
			size: 5,
			datalist: [],
			manager: {},
			name: ""
		},
		created(){
			this.getAll();
		},
		methods: {
			getAll() {

				// axios.get("http://localhost:8088/login/all").then(rel => {
				// 	this.datalist = rel.data;
				// });
				axios.get("http://localhost:8088/login/page?currented=" + this.currented + "&size=" + this.size).then(res => {
					// console.log(res);
					this.datalist = res.data.records;
					this.total = res.data.total;
					// console.log(this.total);
				});
			},
			savev() {
				this.addfig = true;
				this.findfig = false,
						this.update = false
			},
			saved() {
				this.addfig = false;
			},
			updatev(id) {

				axios.get("http://localhost:8088/login/" + id, this.manager).then(rel => {

					this.manager = rel.data;


				});
				this.update = true;
				this.addfig = false;
				this.findfig = false
			},
			updated() {
				this.update = false;
			},
			ManagerDel(id) {
				axios.delete("http://localhost:8088/login/" + id).then(rel => {
					if (rel.data) {
						this.getAll();
					}
				});
			},
			ManagerUpdate() {
				axios.put("http://localhost:8088/login/update", this.manager).then(rel => {
					// console.log(rel);
					if (rel.data) {
						this.getAll();
						this.update = false;
					}

				});
			},
			save() {
				axios.post("http://localhost:8088/login/management", this.manager)
						.then(rel => {
							if (rel.data) {
								alert("add successfully!");
								this.saved();
								this.getAll();
							} else {
								alert("add failed");
							}

						})
			}, tofind() {
				this.findfig = true;
				this.addfig = false,
						this.update = false
			},
			nofind() {
				this.findfig = false;
			},
			yesfind() {
				console.log(this.name)
				axios.put("http://localhost:8088/login/find?userName=" + this.name).then(rel => {
					this.datalist = rel.data;
				})
			},
			// getPage(){
			// 	console.log(this.currented)
			// 	axios.get("http://localhost:8088/login/page?currented="+this.currented+"&size="+this.size).then(res=>{
			// 		console.log(res);
			// 		this.listdata=res.data.records;
			// 		this.total=res.data.total;
			//
			// 	});},
			next() {
				if (this.currented < this.total)
					this.currented++;
				this.getAll();
			},
			upt() {
				if (this.currented > 0)
					this.currented--;
				this.getAll();
			},
			findBack() {
				this.findfig = false;
				this.getAll();
			}


		}

	});
</script>



<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="asserts/js/popper.min.js"></script>
<script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>


<script type="text/javascript" src="asserts/js/feather.min.js"></script>
<script>
	feather.replace()
</script>


</body>
</html>
