<!DOCTYPE HTML>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="./vue/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>

    <script src="js/html5.js"></script>


</head>
<body>
<div id="app">
<div>
    <div id="bgStretch">
        <img alt src="images/bg_pic1.jpg">
    </div>
    <div id="glob">
        <div class="spinner"></div>
        <div class="pagin">
            <ul>
                <!--                <li class="active"><a href="images/bg_pic1.jpg"></a></li>-->
                <!--                <li><a href="images/bg_pic2.jpg"></a></li>-->
                <!--                <li><a href="images/bg_pic3.jpg"></a></li>-->
                <!--                <li><a href="images/bg_pic4.jpg"></a></li>-->
                <li class="active"><a href="images/bg_pic5.jpg"></a></li>
            </ul>
        </div>
        <div id="leftPanel">
            <!-- HEADER -->
            <header>
                <h1><a href="#!/page_home"></a></h1>
            </header>
            <nav class="menu">
                <ul id="menu">


                    <li><a href="">项目介绍</a></li>
                    <li><a @click="getOrderById()" href="#!/order_query">订单查询</a></li>
                    <li><a href="#!/page_parties">包间预订</a></li>
                    <li><a href="#!/page_events">商品购买</a></li>
                    <!--                    <li><a href="#!/page_gallery">结账</a></li>-->
                    <!--                    <li><a href="#!/page_menu">公告管理</a></li>-->
                    <!--                    <li><a href="#!/page_menu">呼叫服务</a></li>-->
                    <!--                    <li class="no_bg"><a href="#!/page_mail">积分兑换推荐系统</a></li>-->
                    <!--                    <li class="no_bg"><a href="#!/page_mail">KTV比分-需要奖励估算</a></li>-->
                </ul>
            </nav>
            <!-- END MENU -->
            <!-- BOTTOM -->
            <div class="reservation">
                <p class="text_0">reservation</p>
                <p class="text_1">麦家-MicFamily</p>
                <p class="text_2">company</p>
                <p class="text_3">中软国际</p>
            </div>
            <!-- END BOTTOM -->
        </div>
        <!-- CONTENT -->
        <section id="content">
            <ul>
                <li class="no_disp" id="page_home"></li>
                <li id="page_about">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>Welcome <span>to our website!</span></h2>

                            </div>
                            <img alt class="pad_2" src="images/page2_pic1.jpg">
                            <div class="marg_1">
                                <div class="col_1">
                                    <h3>Lorem ipsum dolor sit ame</h3>

                                </div>
                                <div class="col_1 last_1">

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="order_query">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1" v-if="msgfig">
                                <h1>订单 <span>信息显示</span></h1>
                                <h2><span>您使用的包厢为：</span>{{room.roomName}}</h2>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>商品信息</th>
                                        <th>下单时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{orderlist.orderInfo}}</td>
                                        <td>{{orderlist.orderTime}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>商品名</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="goods in goodlist">
                                        <td>{{goods.goodsName}}</td>
                                        <td>{{goods.price}}</td>
                                        <td>{{goods.quantity}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>包厢价格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{room.price}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>总消费</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{this.sum}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <span>如果您想要退订的话，请点击这里</span></br>
                                    <button class="btn" v-on:click="remove(room.id,room.type)">
                                        <span>退订</span></button>
                                    </thead>


                                </table>

                            </div>

                        </div>
                    </div>
                </li>
                <li id="page_events">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <div class="block_1">
                                    <h2>Special <span>events</span></h2>
                                    <div class="block_1_1">
                                        <img alt class="img_1" src="images/page4_pic1.jpg">
                                        <div class="text_info">

                                        </div>
                                    </div>
                                    <div class="block_1_1">
                                        <img alt class="img_1" src="images/page4_pic2.jpg">
                                        <div class="text_info">

                                        </div>
                                    </div>
                                </div>
                                <div class="block_2">
                                    <h2>Our <span>Archive</span></h2>

                                    <div class="wrapper">
                                        <div class="col_2">

                                        </div>
                                        <div class="col_2 no_marg">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_gallery">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>Our <span>Gallery</span></h2>
                                <ul class="list_03">
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic1.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic2.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic3.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic4.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic5.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic6.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic7.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic8.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic9.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_menu">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>Our <span>Menu</span></h2>
                                <ul class="list_04">
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic1.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$35</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic2.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$28</span></p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic3.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$32</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic4.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$18</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic5.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$35</span></p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic6.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$20</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic7.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$35</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic8.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$25</span></p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page6_pic9.jpg"></a>
                                        </figure>
                                        <div class="text_info2">
                                            <a href="#">Sit yate pso tahaei </a>
                                            <p>Onse ctetur adipis - <span>$35</span></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li id="page_parties">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">

                                <div class="block_4">
                                    <h2>您的订单信息<span>显示</span></h2>
                                    <!-- <div class="success"><strong>以下是您房间的订单信息：</strong>

                                     </div>-->
                                    <button class="btn" v-on:click="getSroomlist()">小包</button>
                                    <button class="btn" v-on:click="getMroomlist()">中包</button>
                                    <button class="btn" v-on:click="getBroomlist()">大包</button>
                                    <!-- <input type="button" v-on:click="getSroomlist()" value="小包">
                                     <input type="button" v-on:click="getMroomlist()" value="中包">
                                     <input type="button" v-on:click="getBroomlist()" value="大包">-->
                                    <div class="card" style="width: 18rem;" v-for="room in roomlist" v-if="smal">
                                        <div class="card-body">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                            <p class="card-text">包间规格:{{room.type}}</p>
                                            <p class="card-text">包间状态:{{room.status}}</p>
                                            <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                            <button class="btn" v-on:click="reserveS(room.id,room.type)">
                                                <span>预订 </span></button>

                                        </div>
                                    </div>
                                    <div class="card" style="width: 18rem;" v-for="room in roomlist" v-if="medium">
                                        <div class="card-body">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                            <p class="card-text">包间规格:{{room.type}}</p>
                                            <p class="card-text">包间状态:{{room.status}}</p>
                                            <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                            <button class="btn" v-on:click="reserveM(room.id,room.type)">
                                                <span>预订 </span></button>

                                        </div>
                                    </div>
                                    <div class="card" style="width: 18rem;" v-for="room in roomlist" v-if="bigg">
                                        <div class="card-body">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                            <p class="card-text">包间规格:{{room.type}}</p>
                                            <p class="card-text">包间状态:{{room.status}}</p>
                                            <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                            <button class="btn" v-on:click="reserveB(room.id,room.type)">
                                                <span>预订 </span></button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_privacy">
                    <div class="container">
                        <div class="marg_1">
                            <div class="wrapper">
                                <h2>Privacy Policy</h2>

                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more">
                    <div class="container">
                        <div class="marg_1">
                            <div class="wrapper">
                                <h2>Lorem Ipsum</h2>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- END CONTENT -->
        <!-- FOOTER -->
        <footer>
            <p> MicFamily &copy; 2022 <a href="#!/page_privacy">Privacy Policy</a></p>
            <!-- {%FOOTER_LINK} -->
        </footer>
        <!-- END FOOTER -->
    </div>

    <!--coded by cleric-->

    <script>
        new Vue(
            {
                el: "#app",
                data: {
                    orderlist: {},
                    goodlist: {},
                    room: {},
                    msgfig: false,
                    userId: 0,
                    datalist: [],
                    roomlist: {},

                    info: {},
                    sum: 0,

                    bigg: false,
                    medium: false,
                    smal: false,
                }, created() {
                    this.userId = sessionStorage.getItem("userId");
                    // alert(this.userId);
                    this.getOrderById();
                    this.getAllRoom();
                },
                methods: {
                    IsAlpha() {
                        axios.get("http://localhost:8088/room/small/+" + this.userId).then(rel => {
                            if (rel.data != null) {
                                this.msgfig = true;
                            } else {
                                this.msgfig = false;
                            }
                            this.roomlist = rel.data;
                            console.log(rel);
                        });
                    },
                    getOrderById() {
                        this.userId = sessionStorage.getItem("userId");
                        // alert(this.userId);
                        axios.put("http://localhost:8088/room/findcoRoomName?manager_id=" + this.userId).then(rel => {
                            console.log(rel.data);
                            if (rel.data.flag == false) {
                                // alert("您好，ID为" + this.userId + "号的用户，您还没有订单!");
                            } else {
                                console.log(rel.data);
                                this.info = rel.data;
                                alert("您好，ID为" + this.userId + "号的用户" + this.info.msg);
                                this.orderlist = this.info.order;
                                this.goodlist = this.info.goodsList;
                                this.room = this.info.room;
                                if (this.orderlist == null) {
                                    // alert(this.info.msg);
                                }
                                this.sum = this.cal();
                            }
                        });
                    }, getOrderById() {
                        this.userId = sessionStorage.getItem("userId");
                        // alert(this.userId);
                        axios.put("http://localhost:8088/room/findcoRoomName?manager_id=" + this.userId).then(rel => {
                            if (rel.data.length != 0) {

                                console.log(rel.data);
                                this.info = rel.data;
                                // alert("您好，ID为"+this.userId+"号的用户"+this.info.msg);
                                this.orderlist = this.info.order;
                                this.goodlist = this.info.goodsList;
                                this.room = this.info.room;
                                if (this.orderlist == null) {
                                    // alert(this.info.msg);
                                }
                                this.sum = this.cal();
                            } else {
                                this.msgfig = false;
                            }


                        });
                    },
                    cal() {
                        let total = 0;
                        this.goodlist.forEach(item => {
                            total += item.price * item.quantity;
                        });
                        total = total + this.room.price;
                        return total;
                    },
                    getSroomlist() {
                        axios.get("http://localhost:8088/room/small").then(rel => {
                            this.roomlist = rel.data;
                            this.smal = true;
                            this.medium = false;
                            this.bigg = false;
                        });
                    },
                    getMroomlist() {
                        axios.get("http://localhost:8088/room/medium").then(rel => {
                            this.roomlist = rel.data;
                            this.medium = true;
                            this.smal = false;
                            this.bigg = false;
                        });
                    },
                    getBroomlist() {
                        axios.get("http://localhost:8088/room/big").then(rel => {
                            this.roomlist = rel.data;
                            this.bigg = true;
                            this.smal = false;
                            this.medium = false;
                        });
                    },
                    getAllRoom() {
                        axios.get("http://localhost:8088/room/AllRoom").then(rel => {
                            this.roomlist = rel.data;
                            this.bigg = true;
                            this.smal = false;
                            this.medium = false;
                        });
                    },
                    reserveS(id, type) {
                        axios.get("http://localhost:8088/room/addid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            var msg = rel.data;
                            alert(msg);
                            if (msg == "您已成功预订包间")
                                this.listen();
                            this.msgfig = true;
                        });
                        // window.location.reload();
                    },
                    reserveM(id, type) {
                        axios.get("http://localhost:8088/room/addid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            var msg = rel.data;
                            alert(msg);
                            if (msg == "您已成功预订包间")
                                this.listen();
                            this.msgfig = true;
                        });
                        // window.location.reload();
                    },
                    reserveB(id, type) {
                        axios.get("http://localhost:8088/room/addid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            var msg = rel.data;
                            alert(msg);
                            if (msg == "您已成功预订包间")
                                this.listen();
                            this.msgfig = true;
                        });
                        // window.location.reload();
                    },

                    remove(id, type) {

                        axios.delete("http://localhost:8088/room/removeid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            alert(rel.data);
                            var msg = rel.data;


                            this.msgfig = false;
                        });
                        // window.location.reload();
                    },
                    listen() {
                        // alert(111111);
                        axios.post("http://localhost:8088/users/save?userId=" + this.userId).then(rel => {
                            // alert(rel.data);
                        });
                    }


                }

            }
        );
    </script>

</div>
</div>
</body>
</html>