<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临micfamily</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
    <link href="images/MicFamily-1.ico" rel="icon" type="image/x-icon">
    <link href="images/MicFamily-1.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="./vue/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>

    <script src="js/html5.js"></script>


    <style>

        #animation-small {
            -webkit-animation: bounceInDown 1s 0s ease both;
            -moz-animation: bounceInDown 1s 0s ease both;
        }

        @-webkit-keyframes bounceInDown {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateY(30px)
            }
            80% {
                -webkit-transform: translateY(-10px)
            }
            100% {
                -webkit-transform: translateY(0)
            }
        }

        @-moz-keyframes bounceInDown {
            0% {
                opacity: 0;
                -moz-transform: translateY(-2000px)
            }
            60% {
                opacity: 1;
                -moz-transform: translateY(30px)
            }
            80% {
                -moz-transform: translateY(-10px)
            }
            100% {
                -moz-transform: translateY(0)
            }
        }

        #animation-big {
            -webkit-animation: bounceInLeft 1s .2s ease both;
            -moz-animation: bounceInLeft 1s .2s ease both;
        }

        @-webkit-keyframes bounceInLeft {
            0% {
                opacity: 0;
                -webkit-transform: translateX(-2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateX(30px)
            }
            80% {
                -webkit-transform: translateX(-10px)
            }
            100% {
                -webkit-transform: translateX(0)
            }
        }

        @-moz-keyframes bounceInLeft {
            0% {
                opacity: 0;
                -moz-transform: translateX(-2000px)
            }
            60% {
                opacity: 1;
                -moz-transform: translateX(30px)
            }
            80% {
                -moz-transform: translateX(-10px)
            }
            100% {
                -moz-transform: translateX(0)
            }
        }


        #animation-medium {
            -webkit-animation: bounceInUp 1s .2s ease both;
            -moz-animation: bounceInUp 1s .2s ease both;
        }

        @-webkit-keyframes bounceInUp {
            0% {
                opacity: 0;
                -webkit-transform: translateY(2000px)
            }
            60% {
                opacity: 1;
                -webkit-transform: translateY(-30px)
            }
            80% {
                -webkit-transform: translateY(10px)
            }
            100% {
                -webkit-transform: translateY(0)
            }
        }

        @-moz-keyframes bounceInUp {
            0% {
                opacity: 0;
                -moz-transform: translateY(2000px)
            }
            60% {
                opacity: 1;
                -moz-transform: translateY(-30px)
            }
            80% {
                -moz-transform: translateY(10px)
            }
            100% {
                -moz-transform: translateY(0)
            }
        }

        /*		从左边淡入*/
        #animation-all {
            -webkit-animation: fadeInLeft 3s .5s ease both;
            -moz-animation: fadeInLeft 3s .5s ease both;
        }

        @-webkit-keyframes fadeInLeft {
            0% {
                opacity: 0;
                -webkit-transform: translateX(-20px)
            }
            100% {
                opacity: 1;
                -webkit-transform: translateX(0)
            }
        }

        @-moz-keyframes fadeInLeft {
            0% {
                opacity: 0;
                -moz-transform: translateX(-20px)
            }
            100% {
                opacity: 1;
                -moz-transform: translateX(0)
            }
        }

    </style>


</head>
<body>
<div id="app">
<div>
    <div id="bgStretch">
        <img alt src="images/bg_pic1.jpg">
    </div>
    <div id="glob">
        <div class="spinner"></div>
        <div class="pagin">
            <ul>
                <!--                <li class="active"><a href="images/bg_pic1.jpg"></a></li>-->
                <!--                <li><a href="images/bg_pic2.jpg"></a></li>-->
                <!--                <li><a href="images/bg_pic3.jpg"></a></li>-->
                <!--                <li><a href="images/bg_pic4.jpg"></a></li>-->
                <li class="active"><a href="images/bg_pic5.jpg"></a></li>
            </ul>
        </div>
        <div id="leftPanel">
            <!-- HEADER -->
            <header>
                <h1><a href="#!/page_home"></a></h1>
            </header>
            <nav class="menu">
                <ul id="menu">


                    <li><a href="#!/page_about">项目介绍</a></li>
                    <li><a @click="getOrderById()" href="#!/order_query">订单查询</a></li>
                    <li><a href="#!/page_parties">包间预订</a></li>
                    <li><a href="#!/page_goods">商品购买</a></li>
                    <li><a href="#!/page_menu">活动消息</a></li>
                    <!--                    <li><a href="#!/page_gallery">结账</a></li>-->
                    <!--                    <li><a href="#!/page_menu">公告管理</a></li>-->
                    <!--                    <li><a href="#!/page_menu">呼叫服务</a></li>-->
                    <!--                    <li class="no_bg"><a href="#!/page_mail">积分兑换推荐系统</a></li>-->
                    <!--                    <li class="no_bg"><a href="#!/page_mail">KTV比分-需要奖励估算</a></li>-->
                </ul>
            </nav>
            <!-- END MENU -->
            <!-- BOTTOM -->
            <div class="reservation">
                <p class="text_0">reservation</p>
                <p class="text_1">麦家-MicFamily</p>
                <p class="text_2">company</p>
                <p class="text_3">中软国际</p>
            </div>
            <!-- END BOTTOM -->
        </div>
        <!-- CONTENT -->
        <section id="content">
            <ul>
                <li class="no_disp" id="page_home"></li>
                <li id="page_about">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>Welcome to &nbsp;<span>麦家-MicFamily</span></h2>
                            </div>
                            <div class="block_1_1">
                                <img alt="" class="img_1" src="images/page4_pic1.jpg">
                                <div class="text_info">
                                    <h3>系统介绍</h3>
                                    <p style="font: 13px Arial, Helvetica, sans-serif;color: #6E6E70">
                                        麦家-MicFamily是一个为量贩式KTV开发的运营管理系统，能够满足量贩式KTV除“歌曲点播”外的所有管理需求。MicFamily分为管理员端和用户端。管理员端拥有“KTV员工管理、KTV会员管理、包间管理、订单管理、商品管理、公告管理”6个功能模块。用户端拥有“订单查询、包间预订、结算、超市”4个功能模块”。在MicFamily的加持下，我们相信量贩式KTV能够实现管理的“零差错”，盈利的“高增长”，用户的“很满意”。
                                    </p>
                                    <!--											<a href="#!/page_more" class="button_2">Read More</a>-->
                                </div>
                            </div>
                            <div class="block_1_1">
                                <img alt="" class="img_1" src="images/page4_pic2.jpg">
                                <div class="text_info">
                                    <h3>技术介绍</h3>
                                    <p style="font: 13px Arial, Helvetica, sans-serif;color: #6E6E70; margin: 0 0 0 0;">
                                        1. 前端：排版框架Bootstrap v5.1.0开发\ACE、字体与图标使用elementUI或font-awesome v4.7.0、jquery
                                        v3.5.1、VUE脚本、</br>
                                        2. 后端：SprintBoot v2.7.1</br>
                                        3. 数据库：mysql8.0.26</br>
                                        4. 开发工具：后端与构建IDEA、前端界面HBuilderX、前端界面DreamWeaver、数据库Navicat 15.0.26</br>
                                        5. 项目构建与版本管理：apache-maven-3.6.3</br>
                                        6. 开发语言：java1.8</p>
                                </div>
                            </div>
                            <div class="block_1_1">
                                <img alt="" class="img_1" src="images/技术.jpg">
                                <div class="text_info">
                                    <h3>功能介绍</h3>
                                    <p style="font: 13px Arial, Helvetica, sans-serif;color: #6E6E70">
                                        麦家MicFamily在管理员端实现了“员工管理、会员管理、包间管理、订单管理、商品管理、公告管理”6个模块的增删改查，支持用户的注册、登录、退出、上传头像操作；支持公告的下载操作；在主页左下角实时显示近期发生的待处理事务消息。在用户端实现了“订单查询、包间预订、在线结算、超市选购”4个功能，支持用户的登录、注册和退出登录；按包间类型查找包间，按包间号查询订单，按包间号在线下单。
                                        项目使用云数据库，可在腾讯云图上反映KTV的实时运营情况。
                                        </br>
                                    </p>
                                    <!--											<a href="#!/page_more" class="button_2">Read More</a>-->
                                </div>
                            </div>

                        </div>
                        <div class="marg_1">
                            <h2>我们的<span>开发团队</span></h2>

                            <ul class="list_01" style="margin: 0px 0px 80px 0px">
                                <li style="height: 330px;margin: 0px">
                                    <figure><a href="images/MicFamily-2.png" rel="appendix"><span class="sitem_over"
                                                                                                  style="display: block; opacity: 0;"><strong
                                            style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                 src="images/page3_pic1.jpg"></a>
                                    </figure>

                                    <p style="padding: 0; margin: 0 0 5px 0; text-align: center">闫士博</p>
                                    <p style="padding: 0;text-align: left;font-size: 15px; color:#6E6E70;">
                                        项目组长兼技术总监，负责构建项目的生命周期与文件结构，为组员分配任务，并解决其技术烦恼，帮助项目度过了许多关键节点，完成了项目迭代。</p>
                                </li>
                                <li style="height: 330px;margin: 0px">
                                    <figure><a href="images/MicFamily-2.png" rel="appendix"><span class="sitem_over"
                                                                                                  style="display: block; opacity: 0;"><strong
                                            style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                 src="images/page3_pic2.jpg"></a>
                                    </figure>
                                    <p style="padding: 0; margin: 0 0 5px 0; text-align: center">程佳涛</p>
                                    <p style="padding: 0;text-align: left;font-size: 15px; color:#6E6E70;">
                                        后端开发工程师，负责业务内相关功能的后端实现，完成了MVC的三层代码编写，并将前端与后端连接在一起，同时完成前端界面的交互效果。</p>
                                </li>
                                <li class="right" style="height: 330px;margin: 0px">
                                    <figure><a href="images/MicFamily-2.png" rel="appendix"><span class="sitem_over"
                                                                                                  style="display: block; opacity: 0;"><strong
                                            style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                 src="images/page3_pic3.jpg"></a>
                                    </figure>
                                    <p style="padding: 0; margin: 0 0 5px 0; text-align: center">李沛阳</p>
                                    <p style="padding: 0;text-align: left;font-size: 15px; color:#6E6E70;">
                                        前端开发工程师兼后端开发工程师，负责项目的界面UI设计、前端布局与界面交互脚本实现。同时完成了管理员功能的后端编写。</p>
                                </li>
                                <li style="height: 330px;margin: 0px">
                                    <figure><a href="images/MicFamily-2.png" rel="appendix"><span class="sitem_over"
                                                                                                  style="display: block; opacity: 0;"><strong
                                            style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                 src="images/page3_pic4.jpg"></a>
                                    </figure>
                                    <p style="padding: 0; margin: 0 0 5px 0; text-align: center">舒航</p>
                                    <p style="padding: 0;text-align: left;font-size: 15px; color:#6E6E70;">
                                        前端开发工程师，负责完成业务内相关页面的布局优化与交互设计，完成了与云数据库相连的腾讯云图的设计与实现，并协助组员完成业务内任务。</p>
                                </li>
                                <li style="height: 330px;margin: 0px">
                                    <figure><a href="images/MicFamily-2.png" rel="appendix"><span
                                            class="sitem_over"><strong style="top: 200px;"></strong></span><img alt=""
                                                                                                                src="images/page3_pic5.jpg"></a>
                                    </figure>
                                    <p style="padding: 0; margin: 0 0 5px 0; text-align: center">徐兴</p>
                                    <p style="padding: 0;text-align: left;font-size: 15px; color:#6E6E70;">
                                        后端开发工程师兼数据库设计工程师，负责完成后端的功能实现、前后端连接以及后端与数据库的连接，同时设计实现了了项目的数据库。</p>
                                </li>
                                <li class="right" style="height: 330px;margin: 0px">
                                    <figure><a href="images/MicFamily-2.png" rel="appendix"><span
                                            class="sitem_over"><strong style="top: 200px;"></strong></span><img alt=""
                                                                                                                src="images/page3_pic6.jpg"></a>
                                    </figure>
                                    <p style="padding: 0; margin: 0 0 5px 0; text-align: center">赵俊翔</p>
                                    <p style="padding: 0;text-align: left;font-size: 15px; color:#6E6E70;">
                                        前端开发工程师兼设计工程师，负责完成业务内相关页面的开发与优化，完成必要VUE脚本的编写，并完成用户界面和管理员界面logo的绘制。</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>


                <li id="order_query">
                    <div class="container">
                        <div class="wrapper">
                            <h3 style="text-align:center">
                                <button class="btn1" v-on:click="query_order()">查询</button>
                            </h3>
                            <div class="marg_1" v-if="msgfig">
                                <h1>订单 <span>信息显示</span></h1>
                                <h2><span>您使用的包厢为：</span>{{room.roomName}}</h2>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>商品信息</th>
                                        <th>下单时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{orderlist.orderInfo}}</td>
                                        <td>{{orderlist.orderTime}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>商品名</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="goods in goodlist">
                                        <td>{{goods.goodsName}}</td>
                                        <td>{{goods.price}}</td>
                                        <td>{{goods.quantity}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>包厢价格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{room.price}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <tr>
                                        <th>总消费</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{this.sum}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table>
                                    <thead>
                                    <span>如果您想要结算的话，请点击这里</span></br>
                                    <button class="btn" v-on:click="remove(room.id,room.type)">
                                        <span>结算</span></button>
                                    </thead>


                                </table>

                            </div>

                        </div>
                    </div>
                </li>
                <li id="page_events">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <div class="block_1">
                                    <h2>Special <span>events</span></h2>
                                    <div class="block_1_1">
                                        <img alt class="img_1" src="images/page4_pic1.jpg">
                                        <div class="text_info">

                                        </div>
                                    </div>
                                    <div class="block_1_1">
                                        <img alt class="img_1" src="images/page4_pic2.jpg">
                                        <div class="text_info">

                                        </div>
                                    </div>
                                </div>
                                <div class="block_2">
                                    <h2>Our <span>Archive</span></h2>

                                    <div class="wrapper">
                                        <div class="col_2">

                                        </div>
                                        <div class="col_2 no_marg">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_gallery">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>Our <span>Gallery</span></h2>
                                <ul class="list_03">
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic1.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic2.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic3.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic4.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic5.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic6.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic7.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic8.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                    <li class="right">
                                        <figure><a href="images/image_blank_black.jpg"><img alt
                                                                                            src="images/page5_pic9.jpg"></a>
                                        </figure>
                                        <div class="text_info1">
                                            <a href="#">Lorem ipsum dolor sit</a>
                                            <p>Onse ctetur adipisicinge.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_parties">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">


                                <div class="block_4">


                                    <h2>您的订单信息<span>显示</span></h2>
                                    <!-- <div class="success"><strong>以下是您房间的订单信息：</strong>

                                     </div>-->
                                    <button class="btn" v-on:click="getSroomlist()">小包</button>
                                    <button class="btn" v-on:click="getMroomlist()">中包</button>
                                    <button class="btn" v-on:click="getBroomlist()">大包</button>
                                    <!-- <input type="button" v-on:click="getSroomlist()" value="小包">
                                     <input type="button" v-on:click="getMroomlist()" value="中包">
                                     <input type="button" v-on:click="getBroomlist()" value="大包">-->

                                    <div id="animation-all" v-if="allroom">
                                        <div class="floatdiv">
                                            <div class="card" style="width: 16rem; height: 10rem;"
                                                 v-for="room in roomlist">
                                                <div class="card-body">
                                                    <h5 class="card-title">ROOMS INFORMATION</h5>
                                                    <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                                    <p class="card-text">包间规格:{{room.type}}</p>
                                                    <p class="card-text">包间状态:{{room.status}}</p>
                                                    <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                                    <button class="btn" v-on:click="reserveS(room.id,room.type)">
                                                        <span>预订 </span></button>
                                                </div>
                                            </div>

                                            <!--
                                                                                    <button @click="upt()" class="btn"><span>上一页</span></button>
                                                                                    <button @click="next()" class="btn"><span>下一页</span></button>
                                            -->

                                        </div>


                                        <div>
                                            <button @click="upt()" class="btn"><span>上一页</span></button>
                                            <button @click="next()" class="btn"><span>下一页</span></button>
                                        </div>

                                    </div>

                                    <div id="animation-small" v-if="smal">
                                        <div class="floatdiv">
                                            <div class="card" style="width: 16rem; height: 10rem;"
                                                 v-for="room in roomlist">
                                                <div class="card-body">
                                                    <h5 class="card-title">ROOMS INFORMATION</h5>
                                                    <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                                    <p class="card-text">包间规格:{{room.type}}</p>
                                                    <p class="card-text">包间状态:{{room.status}}</p>
                                                    <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                                    <button class="btn" v-on:click="reserveS(room.id,room.type)">
                                                        <span>预订 </span></button>
                                                </div>
                                            </div>
                                            <!--
                                                                                    <button @click="uptSmal()" class="btn"><span>上一页</span></button>
                                                                                    <button @click="nextSmal()" class="btn"><span>下一页</span></button>
                                            -->
                                        </div>

                                        <div>
                                            <button @click="uptSmal()" class="btn"><span>上一页</span></button>
                                            <button @click="nextSmal()" class="btn"><span>下一页</span></button>
                                        </div>
                                    </div>


                                    <div id="animation-medium" v-if="medium">
                                        <div class="floatdiv">
                                            <div class="card" style="width: 16rem; height: 10rem;"
                                                 v-for="room in roomlist">
                                                <div class="card-body">
                                                    <h5 class="card-title">ROOMS INFORMATION</h5>
                                                    <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                                    <p class="card-text">包间规格:{{room.type}}</p>
                                                    <p class="card-text">包间状态:{{room.status}}</p>
                                                    <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                                    <button class="btn" v-on:click="reserveM(room.id,room.type)">
                                                        <span>预订 </span></button>
                                                </div>
                                            </div>
                                            <!--
                                                                                    <button @click="uptMedium()" class="btn"><span>上一页</span></button>
                                                                                    <button @click="nextMedium()" class="btn"><span>下一页</span></button>
                                            -->
                                        </div>
                                        <div>
                                            <button @click="uptMedium()" class="btn"><span>上一页</span></button>
                                            <button @click="nextMedium()" class="btn"><span>下一页</span></button>
                                        </div>
                                    </div>


                                    <div id="animation-big" v-if="bigg">
                                        <div class="floatdiv">
                                            <div class="card" style="width: 16rem; height: 10rem;"
                                                 v-for="room in roomlist">
                                                <div class="card-body">
                                                    <h5 class="card-title">ROOMS INFORMATION</h5>
                                                    <p class="card-text"><span>包间名:</span>{{room.roomName}}</p>
                                                    <p class="card-text">包间规格:{{room.type}}</p>
                                                    <p class="card-text">包间状态:{{room.status}}</p>
                                                    <!--                                                <a href="#" class="btn"><span>预订</span></a>-->
                                                    <button class="btn" v-on:click="reserveB(room.id,room.type)">
                                                        <span>预订 </span></button>
                                                </div>
                                            </div>
                                            <!--
                                                                                    <button @click="uptBigg()" class="btn"><span>上一页</span></button>
                                                                                    <button @click="nextBigg()" class="btn"><span>下一页</span></button>
                                            -->
                                        </div>
                                        <div>
                                            <button @click="uptBigg()" class="btn"><span>上一页</span></button>
                                            <button @click="nextBigg()" class="btn"><span>下一页</span></button>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_goods">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>MicFamily &nbsp;<span>小超市</span></h2>
                                <ul class="list_01" style="margin: 0px 0px 80px 0px">
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over" style="display: block; opacity: 0;"><strong
                                                style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                     src="images/电池.png">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">电池</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥5</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(1)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over" style="display: block; opacity: 0;"><strong
                                                style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                     src="images/炸鸡.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">炸鸡</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥10</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(2)">
                                            <span>购买</span></button>
                                    </li>
                                    <li class="right" style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over" style="display: block; opacity: 0;"><strong
                                                style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                     src="images/薯条.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">薯条</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥13</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(3)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over" style="display: block; opacity: 0;"><strong
                                                style="top: 200px; opacity: 0;"></strong></span><img alt=""
                                                                                                     src="images/啤酒.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">啤酒</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥7</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(4)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over"><strong
                                                style="top: 200px;"></strong></span><img alt="" src="images/乡村基.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">乡村基</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥20</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(5)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over"><strong
                                                style="top: 200px;"></strong></span><img alt="" src="images/抽纸.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">抽纸</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥10</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(6)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over"><strong
                                                style="top: 200px;"></strong></span><img alt="" src="images/果盘.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">果盘</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥40</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(7)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over"><strong
                                                style="top: 200px;"></strong></span><img alt="" src="images/小食.jpeg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">小食</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥55</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(8)">
                                            <span>购买</span></button>
                                    </li>
                                    <li style="height: 280px ; text-align: center;margin: 0px">
                                        <figure><span class="sitem_over"><strong
                                                style="top: 200px;"></strong></span><img alt="" src="images/中华.jpg">
                                        </figure>
                                        <p style="padding: 0; margin: 0 0 5px 0; text-align: center">中华</p>
                                        <p style="padding: 0;text-align: center;font-size: 15px; color:#6E6E70; margin: 0 0 5px 0">
                                            价格：<span style="color: #dc26ae;">￥75</span></p>
                                        <button class="btn" style="height: 25px" v-on:click="buyGoods(9)">
                                            <span>购买</span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li id="page_menu">
                    <div class="container">
                        <div class="wrapper">
                            <div class="marg_1">
                                <h2>MicFamily <span>Active</span></h2>
                                <div class="card" style="width: 16rem;" v-for="info in infolist" v-if="topicshow">
                                    <div class="card-body">
                                        <h5 class="card-title">Active message</h5>
                                        <p class="card-text"><span>题目:</span>{{info.notice.topic}}</p>
                                        <p class="card-text"><span>日期:</span>{{info.datastr}}</p>
                                        <button @click="infocheck(info.notice.id)" class="btn"><span>查看详情 </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="card" style="width: 28rem;" v-if="infoshow">
                                    <div class="card-body">
                                        <h5 class="card-title">Active message</h5>
                                        <p class="card-text"><span>详情</span></p>
                                        <p class="card-text">{{infocontent.info}}</p>
                                        <button class="btn" v-on:click="back()"><span>返回 </span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li id="page_privacy">
                    <div class="container">
                        <div class="marg_1">
                            <div class="wrapper">
                                <h2>Privacy Policy</h2>

                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more">
                    <div class="container">
                        <div class="marg_1">
                            <div class="wrapper">
                                <h2>Lorem Ipsum</h2>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- END CONTENT -->
        <!-- FOOTER -->
        <footer>
            <p> MicFamily &copy; 2022 <a href="#!/page_privacy">Privacy Policy</a></p>
            <!-- {%FOOTER_LINK} -->
        </footer>
        <!-- END FOOTER -->
    </div>

    <!--coded by cleric-->

    <script>
        new Vue(
            {
                el: "#app",
                data: {
                    orderlist: {},
                    goodlist: {},
                    room: {},
                    msgfig: false,
                    userId: 0,
                    datalist: [],
                    infolist: [],
                    infocontent: {},
                    roomlist: {},

                    info: {},
                    sum: 0,

                    bigg: false,
                    medium: false,
                    smal: false,
                    allroom: true,
                    topicshow: true,
                    infoshow: false,


                    currented: 0,
                    total: 1,
                    size: 4,

                    SmallCurrented: 0,
                    SmallTotal: 1,
                    SmallSize: 4,

                    MediumCurrented: 0,
                    MediumTotal: 1,
                    MediumSize: 4,

                    BigCurrented: 0,
                    BigTotal: 1,
                    BigSize: 4,

                }, created() {
                    this.userId = sessionStorage.getItem("userId");
                    // alert(this.userId);
                    this.getOrderById();
                    this.getInfo();
                    this.getAllRoom();
                },
                methods: {
                    IsAlpha() {
                        axios.get("http://localhost:8088/room/small/+" + this.userId).then(rel => {
                            if (rel.data != null) {
                                this.msgfig = true;
                            } else {
                                this.msgfig = false;
                            }
                            this.roomlist = rel.data;
                            console.log(rel);
                        });
                    },
                    getOrderById() {
                        this.userId = sessionStorage.getItem("userId");
                        // alert(this.userId);
                        axios.put("http://localhost:8088/room/findcoRoomName?manager_id=" + this.userId).then(rel => {
                            if (rel.data.length != 0) {

                                console.log(rel.data);
                                this.info = rel.data;
                                // alert("您好，ID为"+this.userId+"号的用户"+this.info.msg);
                                this.orderlist = this.info.order;
                                this.goodlist = this.info.goodsList;
                                this.room = this.info.room;
                                if (this.orderlist == null) {
                                    // alert(this.info.msg);
                                }
                                this.sum = this.cal();
                            } else {
                                this.msgfig = false;
                            }
                        });
                    },
                    cal() {
                        let total = 0;
                        this.goodlist.forEach(item => {
                            total += item.price * item.quantity;
                        });
                        total = total + this.room.price;
                        return total;
                    },
                    getSroomlist() {
                        axios.get("http://localhost:8088/room/small?SmallCurrented=" + this.SmallCurrented + "&SmallSize=" + this.SmallSize).then(rel => {

                            // console.log(rel.data);
                            this.roomlist = rel.data.records;
                            this.SmallTotal = rel.data.total;


                            this.smal = true;
                            this.medium = false;
                            this.bigg = false;
                            this.allroom = false;
                        });
                    },
                    getMroomlist() {
                        axios.get("http://localhost:8088/room/medium?MediumCurrented=" + this.MediumCurrented + "&MediumSize=" + this.MediumSize).then(rel => {

                            // console.log(rel.data);
                            this.roomlist = rel.data.records;
                            this.MediumTotal = rel.data.total;


                            this.medium = true;
                            this.smal = false;
                            this.bigg = false;
                            this.allroom = false;
                        });
                    },
                    getBroomlist() {
                        axios.get("http://localhost:8088/room/big?BigCurrented=" + this.BigCurrented + "&BigSize=" + this.BigSize).then(rel => {

                            // console.log(rel.data);
                            this.roomlist = rel.data.records;
                            this.BigTotal = rel.data.total;


                            this.bigg = true;
                            this.smal = false;
                            this.medium = false;
                            this.allroom = false;
                        });
                    },
                    getAllRoom() {

                        this.bigg = false;
                        this.smal = false;
                        this.medium = false;
                        this.allroom = true;

                        axios.get("http://localhost:8088/room/AllRoom?currented=" + this.currented + "&size=" + this.size).then(res => {
                            console.log(res.data);
                            this.roomlist = res.data.records;
                            this.total = res.data.total;
                            console.log(this.total);

                        });
                    },
                    reserveS(id, type) {
                        this.listen();
                        axios.get("http://localhost:8088/room/addid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            var msg = rel.data;
                            alert(msg);
                            this.msgfig = true;
                        });
                        // window.location.reload();
                    },
                    reserveM(id, type) {
                        this.listen();
                        axios.get("http://localhost:8088/room/addid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            var msg = rel.data;
                            alert(msg);
                            this.msgfig = true;
                        });
                        // window.location.reload();
                    },
                    reserveB(id, type) {
                        this.listen();
                        axios.get("http://localhost:8088/room/addid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            var msg = rel.data;
                            alert(msg);
                            this.msgfig = true;
                        });
                        // window.location.reload();
                    },

                    remove(id, type) {

                        axios.delete("http://localhost:8088/room/removeid?id=" + id + "&managerId=" + this.userId).then(rel => {
                            alert(rel.data);
                            var msg = rel.data;


                            this.msgfig = false;
                        });
                        // window.location.reload();
                    },
                    next() {
                        if (this.currented < this.total)
                            this.currented++;
                        this.getAllRoom();
                    },
                    upt() {
                        if (this.currented > 0)
                            this.currented--;
                        this.getAllRoom();
                    },

                    nextSmal() {
                        // alert(this.SmallCurrented+"  "+this.SmallTotal);
                        if (this.SmallCurrented < this.SmallTotal)
                            this.SmallCurrented++;
                        this.getSroomlist();
                    },
                    uptSmal() {
                        if (this.SmallCurrented > 0)
                            this.SmallCurrented--;
                        this.getSroomlist();
                    },

                    nextMedium() {
                        // alert(this.MediumCurrented+"  "+this.MediumTotal);
                        if (this.MediumCurrented < this.MediumTotal)
                            this.MediumCurrented++;
                        this.getMroomlist();
                    },
                    uptMedium() {
                        if (this.MediumCurrented > 0)
                            this.MediumCurrented--;
                        this.getMroomlist();
                    },

                    nextBigg() {
                        if (this.BigCurrented < this.BigTotal)
                            this.BigCurrented++;
                        this.getBroomlist();
                    },
                    uptBigg() {
                        if (this.BigCurrented > 0)
                            this.BigCurrented--;
                        this.getBroomlist();
                    },
                    listen() {
                        axios.post("http://localhost:8088/users/save?userId=" + this.userId).then(res => {
                            // alert(res.data);
                        });
                    },
                    buyGoods(id) {
                        // alert(id);
                        axios.get("http://localhost:8088/goods/buyGoods?manager_id=" + this.userId + "&goodsId=" + id).then(rel => {
                            // alert(rel.data);
                            var buyGoods = rel.data;
                            if (buyGoods.flag) {
                                alert(buyGoods.msg);
                            } else {
                                alert(buyGoods.msg);
                            }
                            // console.log(rel.data);
                        });
                        this.msgfig = true;
                    },
                    query_order() {
                        this.msgfig = true;
                    },
                    getInfo() {
                        axios.get("http://localhost:8088/notice/user/all").then(rel => {
                            this.infolist = rel.data;

                            // alert(rel.data);
                        });
                    },
                    infocheck(id) {
                        //alert(id);
                        axios.get("http://localhost:8088/notice/info?id=" + id).then(rel => {
                            console.log(rel.data);
                            this.infocontent = rel.data;
                            this.topicshow = false;
                            this.infoshow = true;


                        });
                    },
                    back() {
                        this.infoshow = false;
                        this.topicshow = true;
                    }
                }

            }
        );
    </script>

</div>
</div>
</body>
</html>